# Binaries
*.exe
*.dll
*.o
*.obj
*.so
*.class
*.com
*.zip
*.lib
*.exp



# Build directories
build/
bin/
obj/

# Visual Studio (common)
.vs/
*.user
*.suo
*.sln
*.slnx
*.vcxproj
*.vcxproj.filters

# CMake (common)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile



#packing folders
exercise4_static/
exercise5_dynamic/
worksheet4/calcstatic/

